<div class="intro-container">
  <h1>Welcome to NexxLicense</h1>
  <div class="intro-content">
    <p>Choose what to manage ?</p>
    <div class="button-container">
      <button class="btn btn-primary" (click)="navigateTo('licenses')">
        <i class="fas fa-key"></i>
        <span>Manage Licenses</span>
      </button>
      <button class="btn btn-secondary" (click)="navigateTo('build/manage')">
        <i class="fas fa-cubes"></i>
        <span>Manage Builds</span>
      </button>
    </div>
  </div>
</div>